html {
    width: 100%;
    font-size: 100px;
}
.container{
    position: relative;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    background: url("../img/start.png") no-repeat;
    background-size: 100% 100%;
}
.start-btn{
    position: absolute;
    left: .55rem;
    right: .55rem;
    bottom: 1.29rem;
    height: 1.1rem;
    margin: auto;
}
.btn-section{
    width: 100%;
    height: 1.1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0;
}
.btn-style{
    width: 3rem;
    height: 1.1rem;
    line-height: 1.1rem;
    text-align: center;
    font-size: .4rem;
    border-radius: .51rem;
}
.BarrEnvelopes{
    background: url("../img/Barrage-envelopes.png") no-repeat;
    background-size: 100% 100%;
    color: #fff;
}
.AnnAccount{
    background: url("../img/Annual-account.png") no-repeat;
    background-size: 100% 100%;
    color: #681809;
}
@media screen and (min-width: 630px){
    html{
        font-size: 80px!important;
    }
}
/* ***********年度账单******** */

.firstPage-bg{
    background:url("../img/firstPage-bg.png") no-repeat;
    background-size: 100%;
}
.firstPage-man{
    position: absolute;
    top:3.26rem;
    left: 2.01rem;
    width: 3.1rem;
    height:4.6rem;
}
.firstPage-text{
    position: absolute;
    top:10.74rem;
    left: .8rem;
    right: .87rem;
    width:fit-content;
    width:-webkit-fit-content;
    width:-moz-fit-content;
    line-height: .58rem;
    font-size: .36rem;
}
.firstPage-text p span{
    color: #F9702C;
}