body{
    width: 100%;
    max-width: 750px;
    margin:0 auto;
    font-size: 100px;
    background: url("../img/start.png") no-repeat;
    background-size: 100% 100%;
}
.start-btn{
    position: absolute;
    left: .55rem;
    right: .55rem;
    bottom: 1.29rem;
    height: 1.1rem;
    margin: auto;
}
.btn-section{
    width: 100%;
    height: 1.1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0;
}
.btn-style{
    width: 3rem;
    height: 1.1rem;
    line-height: 1.1rem;
    text-align: center;
    font-size: .4rem;
    border-radius: .51rem;
}
.BarrEnvelopes{
    background: url("../img/Barrage-envelopes.png") no-repeat;
    background-size: cover;
    color: #fff;
}
.AnnAccount{
    background: url("../img/Annual-account.png") no-repeat;
    background-size: cover;
    color: #681809;
}